#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/zmk/hid_indicators.h>
#include "cherry_ml4100-layouts.dtsi"

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
        zmk,physical_layout = &physical_layout0;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&gpio1 11 GPIO_ACTIVE_HIGH>    // 10_KB_FN  
            , <&gpio0 26 GPIO_ACTIVE_HIGH>    // 11_KB_Ctrl
            , <&gpio0  6 GPIO_ACTIVE_HIGH>    // 12_KB_SFTL
            , <&gpio0  5 GPIO_ACTIVE_HIGH>    // 13_KB_SFTR
            , <&gpio0  8 GPIO_ACTIVE_HIGH>    // 14_COL1	  
            , <&gpio1  9 GPIO_ACTIVE_HIGH>    // 15_COL2	  
            , <&gpio0  4 GPIO_ACTIVE_HIGH>    // 16_COL3	  
            , <&gpio0 12 GPIO_ACTIVE_HIGH>    // 17_COL4	  
            , <&gpio0 15 GPIO_ACTIVE_HIGH>    // 18_KB_WinL
            , <&gpio0  7 GPIO_ACTIVE_HIGH>    // 19_KB_WinR
            , <&gpio0 17 GPIO_ACTIVE_HIGH>    // 20_COL5	  
            , <&gpio0 20 GPIO_ACTIVE_HIGH>    // 21_COL6	  
            , <&gpio0 13 GPIO_ACTIVE_HIGH>    // 22_COL7	  
            , <&gpio0 22 GPIO_ACTIVE_HIGH>    // 23_COL8	  
            , <&gpio1  4 GPIO_ACTIVE_HIGH>    // 27_COL9
            , <&gpio1  6 GPIO_ACTIVE_HIGH>    // 28_COL10 
            ;

        row-gpios
            = <&gpio0 30 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 2_ROW1
            , <&gpio0 31 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 3_ROW2
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 4_ROW3
            , <&gpio0  2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 5_ROW4
            , <&gpio1 13 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 6_ROW5
            , <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 7_ROW6
            , <&gpio0  3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 8_ROW7
            , <&gpio1 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>    // 9_ROW8
            ;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <16>;
        rows = <8>;
        map = <
            RC(0,4)  RC(1,4)  RC(2,4)  RC(3,4)  RC(4,4)  RC(5,4)  RC(6,4)  RC(7,4)  RC(7,15)  RC(6,15)  RC(5,15)  RC(3,15)  RC(2,15)  RC(4,15)  RC(1,15)
            RC(0,5)  RC(1,5)  RC(2,5)  RC(3,5)  RC(4,5)  RC(5,5)  RC(6,5)  RC(7,5)  RC(7,14)  RC(6,14)  RC(5,14)  RC(4,14)  RC(3,14)  RC(1,14)
            RC(0,6)  RC(1,6)  RC(2,6)  RC(3,6)  RC(4,6)  RC(5,6)  RC(6,6)  RC(7,6)  RC(7,13)  RC(6,13)  RC(5,13)  RC(4,13)  RC(3,13)  RC(3,12)  RC(1,13)
            RC(0,7)  RC(1,7)  RC(2,7)  RC(3,7)  RC(4,7)  RC(5,7)  RC(6,7)  RC(7,7)  RC(7,12)  RC(6,12)  RC(5,12)  RC(4,12)  RC(2,12)  RC(1,12)
            RC(5,3)  RC(1,10) RC(2,10) RC(3,10) RC(4,10) RC(5,10) RC(6,10) RC(7,10) RC(7,11)  RC(6,11)  RC(5,11)  RC(0,2)   RC(0,13)  RC(1,11)
            RC(0,1)  RC(0,0)  RC(0,9)  RC(0,3)  RC(0,10) RC(0,11) RC(5,2)  RC(0,8)  RC(2,11)  RC(3,11)  RC(4,11)  RC(0,12)  RC(0,14)  RC(0,15)
        >;
    };

    leds {
        compatible = "gpio-leds";

        num_lock_led: num_lock_led {
            gpios = <&gpio0 24 GPIO_ACTIVE_HIGH>;
        };

        caps_lock_led: caps_lock_led {
            gpios = <&gpio1 0 GPIO_ACTIVE_HIGH>;
        };

        scroll_lock_led: scroll_lock_led {
            gpios = <&gpio1 2 GPIO_ACTIVE_HIGH>;
        };
    };

    indicators {
        compatible = "zmk,indicator-leds";

        num_lock_indicator: num_lock {
            indicator = <HID_INDICATOR_NUM_LOCK>;  // 81
            leds = <&num_lock_led>;
        };

        caps_lock_indicator: caps_lock {
            indicator = <HID_INDICATOR_CAPS_LOCK>;
            leds = <&caps_lock_led>;
        };

        scroll_lock_indicator: scroll_lock {
            indicator = <HID_INDICATOR_SCROLL_LOCK>;
            leds = <&scroll_lock_led>;
        };
    };
};
